# Remonte les dépendances d'ESLint au niveau racine de node_modules.
# Contourne un bug de résolution pnpm avec eslint-config-next (es-errors introuvable).
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*es-errors*
public-hoist-pattern[]=*get-intrinsic*
